
<%- include('partials/header.ejs') %>

    <h1>Home</h1>

    <p><%= homeStartingContent %></p>

    <% const postsLength = posts.length; %> 

    <% for (let i = 0; i < postsLength; i++) { %> 
        <% console.log(posts[i].title); %> 
    <% } %> 



<%- include('partials/footer.ejs') %>